<div class="image-with-text-grid section-{{ section.id }} my-{{ section.settings.margin }} bg-{{ section.settings.bg_color }} gx-0">
<div class="container{% if section.settings.fullwidth %}-fluid{%endif%}">
<div class="image-with-text-grid_header text-{{ section.settings.text_color }} text-{{ section.settings.alignment }}">
{% if section.settings.heading != blank %}
<h2 class="mb-3 {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
{% endif %}
{% if section.settings.text != blank %}
<div class="mb-4">{{ section.settings.text }}</div>
{% endif %}
</div>
 <div class="row my-5 text-{{ section.settings.card_alignment }} text-{{ section.settings.card_text_color }}">
     
      {% for block in section['block_order'] %}
      <div class="col-12 col-lg-{{ section.settings.grid }} pt-3 pb-5">
            {% block %}
        </div>
    {% endfor %} 
</div>
</div>
</div>

{% styles %}

.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} .image-text-link-block img {
    width: {{ section.settings.photo_size }};
}

@media screen and (max-width: 576px) {
.section-{{ section.id }} .image-text-link-block_text {
    padding: 3rem 1.5rem;
}
}

{% endstyles%}

{% schema %}
{
    "name": "Image with Text Grid",
    "description": "Grid of image-text-link blocks. It can show 2, 3, or 4 columns of blocks per row in desktop.",
    "max_blocks": 12,
    "settings": [
    {
    "type": "header",
    "content": "Section Settings"
    },
    {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Full Width"
    },
    {
        "type": "select",
        "id": "margin",
        "label": "Section Margin",
        "default": "0",
        "options": [
        {
            "label": "None",
            "value": "0"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
           "label": "Medium",
           "value": "3"
       },
       {
           "label": "Large",
           "value": "5"
        }]
    },
    {
        "type": "select",
        "id": "padding",
        "label": "Section Padding",
        "default": "80px",
        "options": [
        {
        "label": "None",
        "value": "0"
        },
        {
        "label": "Small",
        "value": "40px"
        },
        {
        "label": "Medium",
        "value": "80px"
        },
        {
        "label": "Large",
        "value": "120px"
        }]
    },
    {
        "type": "select",
        "id": "alignment",
        "label": "Text Aligment",
        "default": "center",
        "options": [
        {
            "label": "Left",
            "value": "start"
        },
        {
            "label": "Center",
            "value": "center"
        },
        {
            "label": "Right",
            "value": "end"
        }]
    },
    {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "default": "default",
        "options": [
        {
            "label": "Default",
            "value": "default"
        },
        {
            "label": "Inverse",
            "value": "inverse"
        }]
    },
    {
        "type": "select",
        "id": "grid",
        "label": "Columns Per Row",
        "default": "4",
        "options": [
        {
            "label": "2",
            "value": "6"
        },
        {
            "label": "3",
            "value": "4"
        },
        {
            "label": "4",
            "value": "3"
        }]
    },
    {
        "type": "select",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "background2",
        "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Lorem Ipsum"
    },
    {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "default": "h2",
        "options": [
        {
        "label": "H1",
        "value": "h1"
        },
        {
        "label": "H2",
        "value": "h2"
        },
        {
        "label": "H3",
        "value": "h3"
        }
        ]
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
        "type": "header",
        "content": "Card Settings"
    },
    {
        "type": "select",
        "id": "card_text_color",
        "label": "Text Color",
        "default": "default",
        "options": [
        {
            "label": "Default",
            "value": "default"
        },
        {
            "label": "Inverse",
            "value": "inverse"
        }]
    },
    {
        "type": "select",
        "id": "card_alignment",
        "label": "Text Aligment",
        "default": "start",
        "options": [
        {
            "label": "Left",
            "value": "start"
        },
        {
            "label": "Center",
            "value": "center"
        },
        {
            "label": "Right",
            "value": "end"
        }]
    },
    {
        "type": "select",
        "id": "photo_size",
        "label": "Image Size",
        "default": "100%",
        "options": [
        {
            "label": "One-Fourth Width",
            "value": "25%"
        },
        {
            "label": "One-Third Width",
            "value": "33.33%"
        },
        {
            "label": "Half Width",
            "value": "50%"
        },
        {
            "label": "Full Width",
            "value": "100%"
        }
        ]
    }
    ],
    "blocks": [
            {
                "type": "image-text-link",
                "name": "image-text-link"
            }
    ]

}
{% endschema %}