<div class="image-text-link-block">
{% if block.image != blank %}
<img src="{{ block.image | image_url:'800x800' }}" class="img-fluid mb-3" alt="{{ block.alt }}" />
{% endif %}
<div class="image-text-link-block_text">
{% if block.title != blank %}
<h3 class="mb-2">{{ block.title }}</h3>
{% endif %}
{% if block.content != blank %}
<p class="mb-3">{{ block.content }}</p>
{% endif %}
{% if block.btn_label != blank %}
<a aria-label="{{ block.btn_label }} about {{ block.title }}" class="btn btn-{{ block.btn_color }} btn-{{ block.btn_size }}" tabindex="-1" role="button" href="{{ block.btn_link }}">
    {{ block.btn_label }}
</a>
{% endif %}
</div>
</div>

{% schema %}
{
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image Upload",
            "default": "placeholder.webp"
        },
        {
            "type": "text",
            "id": "alt",
            "label": "Image Alt Text"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Lorem Ipsum"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
    {
        "type": "text",
        "id": "btn_label",
        "label": "Button Label",
        "default": "Button"
    },
    {
        "type": "text",
        "id": "btn_link",
        "label": "Button Link"
    },
    {
        "type": "select",
        "id": "btn_color",
        "label": "Button Type",
        "default": "default-text",
        "options": [
        {
        "label": "Solid",
        "value": "solid"
        },
        {
        "label": "Outline",
        "value": "outline"
        },
        {
        "label": "Inverse Outline",
        "value": "inverse-outline"
        },
        {
        "label": "Default Text",
        "value": "default-text"
        },
        {
        "label": "Inverse Text",
        "value": "inverse-text"
        }]
    }
    ]
}
{% endschema %}